.contact-form {
    background: white;
    padding: 38px
}

.contact-form label {
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-size: .7rem;
    font-weight: 800;
    color: var(--navy);
    margin-bottom: 17px
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px
}

.contact-form input,
.contact-form textarea,
.contact-form select {
    width: 100%;
    border: 1px solid #d6dde2;
    padding: 13px 14px;
    outline: 0;
    color: var(--navy);
    background: white
}

.contact-form input:focus,
.contact-form textarea:focus,
.contact-form select:focus {
    border-color: var(--navy)
}

.contact-form textarea {
    resize: vertical
}

.contact-form .btn {
    border: 0
}